@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FUNDAMENTOS DE ARQUITECTURA</h1>
    <p class="lead">Sean todos bienvenidos a la nueva plataforma web</p>
    <h2>HOLA MUNDO..!!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>INVERSIONISTAS</h1>
        <h3>Politecnico internacional</h3>
        <img src="~/images/logo.png" width="80%" height="80%">
        <p></p>
        <p></p>
        <p><a class="btn btn-default" href="https://politecnicointernacional.edu.co/sw/">Mas informacion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1>DISEÑADOR WEB</h1>
        <h3>Sebastian Sanchez Gonzalez</h3>
        <img src="~/images/Sebas con traje.png" width="65%" height="50%">
        <p></p>
        <p></p>
        <p><a class="btn btn-default" href="https://www.facebook.com/login/?cuid=AYgkt9Qw77RT8J2oz5LfsNuvPTqTpt0uFjWaB4c3vZzKbMEMpo4ZFrUdLr7azhf0tARojaPwm-tMe-IYDhkfAhWlXHjzEHslF0lM-psqzMYeZ3N19-gj3BHyZ2vAej8O7GlW-1Gnm6Ow-vdal9e1AYaw4DkovxjivVqlXOZfEqrLgw&next&privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjIwMDA0Njg1LCJjYWxsc2l0ZV9pZCI6MzQzNjE1NzkwMjAxNjQ0fQ%3D%3D">Mas informacion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1>INVERSIONISTAS</h1>
        <h3>Veterinaria Kaninos</h3>
        <img src="~/images/HuellaKaninos.png" width="80%" height="80%">
        <p></p>
        <p></p>
        <p><a class="btn btn-default" href="">Mas informacion &raquo;</a></p>
    </div>
</div>